* {
  margin: 0;
  padding: 0;
  font-family: "Gambetta", serif;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/*generic*/
:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  position: relative;
}

section {
  position: relative;
  padding: 4rem 4rem;
  height: fit-content;
  width: 100vw;
  gap: 2rem;
  background-color: #1c1b22;
  transform: translateY(100vh);
  overflow: hidden;
}
button {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.solid_button {
  height: fit-content;
  padding: 1rem 2rem;
  border-radius: 50px;
  background-color: red;
  color: white;
}
.outlined_button {
  height: fit-content;
  padding: 1rem 2rem;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

@media (max-width: 768px) {
  section {
    padding: 1rem;
  }
}
/* hero section*/
.hero_section {
  position: fixed;
  top: 0;
  left: 0;
  transform: none;
  background-image: url(./images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}

.hero_section h1 {
  font-size: clamp(1.5rem, 7vw, 4rem);
  width: 15ch;
}
/*desc section*/
.desc_section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.desc_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 300px;
  width: fit-content;
  gap: 2rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
}
.desc_section .img {
  min-width: 300px;
  height: 75vh;
  width: auto;
  border-radius: 15px;
  background-image: url(./images/desc_image.jpg);
  background-size: cover;
  background-position: center;
}

.desc_text {
  width: 40ch;
}

.section_heading {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: clamp(5rem, 14vw, 10rem);
  color: red;
  font-weight: 300;
}

.text_heading {
  font-size: clamp(1.5rem, 10vw, 2rem);
  border-bottom: 2px solid red;
  padding-bottom: 0.5rem;
  width: fit-content;
}

@media (max-width: 768px) {
  .desc_section .img {
    height: 50vh;
    width: 100%;
  }
  .desc_text {
    width: 100%;
  }

  .desc_section {
    padding: 2rem 1rem;
  }
}

/*routes section*/

.tabs_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.tab {
  cursor: pointer;
  padding-bottom: 0.5rem;
}

.tab.active {
  border-bottom: 2px solid red;
}

.img_container img {
  height: auto;
  width: 20vw;
  border-radius: 15px;
}

.routes_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.img_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}

.img_container:nth-of-type(2) {
  display: none;
}

@media (max-width: 450px) {
  .img_container {
    justify-content: center;
  }

  .img_container img {
    height: 45vh;
    width: auto;
  }
}

/*gallery section*/
.gallery_section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.gallery_img_container {
  display: grid;
  grid-template-areas:
    "first first second second second third third third third"
    "first first second second second third third third third"
    "first first fourth fourth fourth third third third third"
    "first first fourth fourth fourth sixth sixth sixth seventh"
    "fifth fifth fifth fifth fifth sixth sixth sixth seventh"
    "fifth fifth fifth fifth fifth sixth sixth sixth seventh";
  width: 100%;
  height: 75vh;
  gap: 0.5rem;
}

.gallery_img_container .img {
  border-radius: 15px;
  background-image: url(./images/desc_image.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .gallery_img_container {
    grid-template-areas:
      "first first second second second"
      "first first second second second"
      "first first fourth fourth fourth"
      "first first fourth fourth fourth"
      "fifth fifth sixth  sixth  sixth "
      "fifth fifth sixth  sixth  sixth "
      "fifth fifth sixth  sixth  sixth "
      "third third sixth sixth sixth"
      "third third sixth sixth sixth"
      "third third seventh seventh seventh"
      "third third seventh seventh seventh";
  }
}

/*review section*/

.review_section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.review_container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.review {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  width: 100%;
  flex-wrap: wrap;
  min-height: 75vh;
}
.review_text {
  width: 60ch;
  min-width: 300px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.review .img {
  background-image: url(./images/desc_image.jpg);
  background-position: center;
  background-size: cover;
  height: 75vh;
  width: auto;
  min-width: 300px;
  border-radius: 15px;
}
.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .review .img {
    height: 50vh;
    width: 100%;
  }
  .review_text {
    width: 100%;
  }
  .review_container {
    z-index: -1;
  }
}

/*contact section*/

.contact_section {
  height: fit-content;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.details {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.contact_number {
  font-size: 2rem;
  color: cyan;
}
.contact_section img {
  height: 55vh;
  width: auto;
  min-width: 300px;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .details {
    width: 100%;
  }
}

/*footer*/

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: translateY(100vh);
  padding: 1rem 2rem;
  height: fit-content;
}

footer ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 400px) {
  .upper {
    flex-direction: column;
    gap: 1rem;
  }
}

/*header*/

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 20;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

header a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  header ul {
    display: none;
  }
}
